body {
    background: url(../images/memphis-mini.png);
    text-align: center;
    color: #000;
    
}

.container {
    position: relative;
    text-align: center;


}

.boredText {
    position: absolute;
    left: 39%; 
    top: 33.5%; 
    font-size: 70px;
    color: white;
}

h1:hover {
    background-color: #fff;
  }

